In [10]:
import pandas as pd
import numpy as np

In [203]:
df = pd.DataFrame(np.random.randn(5, 4), columns=list('ABCD'))
df

          A         B         C         D
0 -1.118042  0.347551 -0.902839  0.888007
1 -0.831656  1.773690  1.832713  0.141473
2  0.451277  0.285638 -0.467025 -0.922900
3 -0.698833  1.004442  1.996054 -1.259576
4  1.630026 -0.472157  0.816888  0.865432

In [204]:

def adding_up(df):
    print(df)
    print(df.shape[0])
    if df.shape[0] == 1:
        return df
    for i in range(df.shape[0]):
        print('i=',i)        
        for j in range(i+1, df.shape[0]):
            if df.iloc[i]['A'] < df.iloc[j]['A']:
                print(df.iloc[i]['D'])
                print(df.iloc[j]['D'])
                tmp = df.iloc[i]['D'] + df.iloc[j]['D']
                df.iloc[i]['D'] = tmp
                print(df.iloc[i]['D'])
                print('Es wird gedropped, anschließend Indexreset:\n')
                df = df.drop(df.index[j])        
                df = df.reset_index(drop=True)
                print(df)
                #print(type(df))
                return df

In [205]:
tmp_df = df

while True:
    print(type(tmp_df))
    something = adding_up(tmp_df)
    print(type(something))
    if something.shape == tmp_df.shape:
        break
    tmp_df = something

print('done')

<class 'pandas.core.frame.DataFrame'>
          A         B         C         D
0 -1.118042  0.347551 -0.902839  0.888007
1 -0.831656  1.773690  1.832713  0.141473
2  0.451277  0.285638 -0.467025 -0.922900
3 -0.698833  1.004442  1.996054 -1.259576
4  1.630026 -0.472157  0.816888  0.865432
5
i= 0
0.8880065378910188
0.1414725552624686
1.0294790931534874
Es wird gedropped, anschließend Indexreset:

          A         B         C         D
0 -1.118042  0.347551 -0.902839  1.029479
1  0.451277  0.285638 -0.467025 -0.922900
2 -0.698833  1.004442  1.996054 -1.259576
3  1.630026 -0.472157  0.816888  0.865432
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
          A         B         C         D
0 -1.118042  0.347551 -0.902839  1.029479
1  0.451277  0.285638 -0.467025 -0.922900
2 -0.698833  1.004442  1.996054 -1.259576
3  1.630026 -0.472157  0.816888  0.865432
4
i= 0
1.0294790931534874
-0.9229002627909019
0.10657883036258553
Es wird gedropped, anschließend Indexreset:

          A         B         C         D
0 -1.118042  0.347551 -0.902839  0.106579
1 -0.698833  1.004442  1.996054 -1.259576
2  1.630026 -0.472157  0.816888  0.865432
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
          A         B         C         D
0 -1.118042  0.347551 -0.902839  0.106579
1 -0.698833  1.004442  1.996054 -1.259576
2  1.630026 -0.472157  0.816888  0.865432
3
i= 0
0.10657883036258553
-1.2595758849539835
-1.1529970545913981
Es wird gedropped, anschließend Indexreset:

          A         B         C         D
0 -1.118042  0.347551 -0.902839 -1.152997
1  1.630026 -0.472157  0.816888  0.865432
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
          A         B         C         D
0 -1.118042  0.347551 -0.902839 -1.152997
1  1.630026 -0.472157  0.816888  0.865432
2
i= 0
-1.1529970545913981
0.86543236781269
-0.28756468677870817
Es wird gedropped, anschließend Indexreset:

          A         B         C         D
0 -1.118042  0.347551 -0.902839 -0.287565
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
          A         B         C         D
0 -1.118042  0.347551 -0.902839 -0.287565
1
<class 'pandas.core.frame.DataFrame'>
done

In [134]:
x = pd.DataFrame(np.arange(12).reshape(3, 4), columns=['A', 'B', 'C', 'D'])
print(x.shape)
print(x)
x = x.drop(x.index[1])
print(x)
x = x.drop(x.index[1])
print(x)
print(x.shape)

(3, 4)
   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11
   A  B   C   D
0  0  1   2   3
2  8  9  10  11
   A  B  C  D
0  0  1  2  3
(1, 4)